@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*底下是我新增ㄉ */
img {
  max-width: 100%;
  height: auto;
  /*據說auto可加可不加，但bootstrapt有還是加一下*/
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #8D8D8D;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.wh-255-255 {
  width: 255px;
  height: 255px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fuckyoubitch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fuckyoubitch li a {
  padding-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fuckyoubitch li a p {
  padding-left: 4px;
}

.relative-icon {
  position: relative;
}

.bh {
  display: none;
}

@media (max-width: 375px) {
  .bh {
    display: block;
    position: absolute;
    font-size: 15px;
    width: 15px;
    height: 14px;
    top: -10px;
    right: -10px;
    background-color: red;
    border-radius: 100%;
    color: #fff;
    text-align: center;
  }
}

.bars {
  padding-left: 16px;
}

.logoSize {
  width: 128px;
}

.mobile_only {
  display: none;
}

@media (max-width: 375px) {
  .mobile_only {
    display: block;
  }
}

.menu-footer {
  color: #fff;
}

.banner {
  background: url(../perfume-week6/index1.jpg) no-repeat;
  height: 870px;
  background-position: center center;
  background-size: 100%;
  padding-top: 295px;
}

@media (max-width: 375px) {
  .banner {
    background-size: 200%;
    height: 480px;
    background-position: left;
    padding-top: 101px;
  }
}

.banner .banner_text_area {
  position: absolute;
  right: 20%;
}

@media (max-width: 375px) {
  .banner .banner_text_area {
    right: 0;
    height: 480px;
  }
}

.banner_text_area {
  max-width: 445px;
  padding: 15px;
}

.banner_h1_text {
  font-size: 40px;
  line-height: 60px;
  color: #FFF;
  font-weight: 600;
}

@media (max-width: 375px) {
  .banner_h1_text {
    font-size: 32px;
    line-height: 48px;
  }
}

.banner_p_text {
  font-size: 24px;
  line-height: 36px;
  color: #FFF;
}

@media (max-width: 375px) {
  .banner_p_text {
    font-size: 20px;
    line-height: 30px;
  }
}

.btn-white {
  font-size: 28px;
  line-height: 60px;
  border: solid 2px #fff;
  color: #fff;
  border-radius: 30px;
  text-align: center;
  font-weight: 600;
}

.btn-white:hover {
  background-color: #AC8A46;
  border: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 375px) {
  .main ul li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.main .row-direction {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main_img {
  width: 50%;
}

@media (max-width: 375px) {
  .main_img {
    width: 345px;
  }
}

.productIntroduction_text {
  max-width: 350px;
  margin: auto;
}

.productIntroduction_text ul li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productIntroduction_text h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
}

.productIntroduction_text p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}

.productIntroduction_text .more {
  font-size: 16px;
  line-height: 24px;
  color: #AC8A46;
  font-weight: 600;
}

.productIntroduction_text .detail_text {
  font-size: 16px;
  line-height: 24px;
}

.productIntroduction_text_step h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 4px;
}

.productIntroduction_text_step p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 52px;
}

.productIntroduction_text_step .btn-black {
  margin-top: 8px;
  font-size: 20px;
  line-height: 66px;
  border: solid 2px #000;
  color: #000;
  border-radius: 33px;
  text-align: center;
  font-weight: 600;
}

.productIntroduction_text_step .btn-black:hover {
  background-color: #000;
  color: #fff;
}

.container-gray {
  background-color: #E0E0E0;
}

.productDisplay {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 375px) {
  .productDisplay {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.productDisplay li {
  width: 380px;
  padding: 40px 15px;
}

@media (max-width: 375px) {
  .productDisplay li {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.productDisplay .product1 {
  background-image: url(../perfume-week6/index6.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 540px;
}

.productDisplay .product2 {
  background-image: url(../perfume-week6/index7.png);
  background-size: 350px 540px;
  height: 540px;
}

.productCard_text h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

.productCard_text p {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 16px;
}

@media (max-width: 375px) {
  .productCard_text p {
    padding-bottom: 4px;
  }
}

.productCard_text p .not-discount {
  padding-left: 8px;
  color: #8D8D8D;
  text-decoration: line-through;
}

.product3 {
  max-width: 380px;
  background-image: url(../perfume-week6/index8.png);
  background-size: 350px 540px;
}

.product3 .soldOut-mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.product3 .soldOut-mask p {
  font-size: 24px;
  line-height: 540px;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.classicProduct_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 375px) {
  .classicProduct_area {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.classicProduct_area .classicProduct_img {
  margin-right: 30px;
}

@media (max-width: 375px) {
  .classicProduct_area .classicProduct_img {
    margin-right: 0px;
  }
}

.classicProduct_area .productIntroduction_text {
  margin: 82px 30px;
}

@media (max-width: 375px) {
  .classicProduct_area .productIntroduction_text {
    margin: 8px 15px;
  }
}

.classicProduct_img {
  width: 730px;
  height: 520px;
  background-image: url(../perfume-week6/index9.jpg);
  background-size: 730px;
}

@media (max-width: 375px) {
  .classicProduct_img {
    background-position: -100px;
  }
}

.promote-background {
  height: 600px;
  background-image: url(../perfume-week6/index10.png);
  background-position: center;
  padding-top: 300px;
  padding-left: 21%;
}

@media (max-width: 375px) {
  .promote-background {
    margin-right: auto;
    margin-left: auto;
    background-position: -650px;
    background-size: 1920px 600px;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.subscribeArea {
  margin-left: 0;
  max-width: 350px;
  margin-right: auto;
}

@media (max-width: 375px) {
  .subscribeArea {
    margin-left: auto;
  }
}

.subscribeArea h2 {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 48px;
  color: #8D8D8D;
  font-weight: 600;
}

.subscribe {
  font-size: 16px;
  line-height: 60px;
  border: 2px solid #916000;
  margin-top: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe .subscribe_input {
  width: 100%;
  color: #8D8D8D;
  padding-left: 16px;
  background-color: #fff;
}

.subscribe .subscribe_btn {
  background-color: #916000;
  color: #FFF;
  padding-left: 27px;
  padding-right: 26px;
}

.subscribe .subscribe_btn:hover {
  background-color: #AC8A46;
}

.dark-background {
  background-color: #916000;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright_area p {
  margin-left: 20px;
  font-size: 14px;
  line-height: 21px;
  color: #FFF;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu-footer li {
  padding-left: 32px;
}

.menu-footer li a {
  text-decoration: none;
  color: #FFF;
  font-size: 20px;
  line-height: 30px;
}

.m-tb-9 {
  margin-top: 9px;
  margin-bottom: 9px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-60 {
  margin-bottom: 60px;
}

@media (max-width: 375px) {
  .mb-60 {
    margin-bottom: 40px;
  }
}

@media (max-width: 375px) {
  .mobile-none {
    display: none;
  }
}

.jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.pr-28 {
  padding-right: 28px !important;
}

.pt-b-14 {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.page-productDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 20px;
}

.page-productDisplay li {
  width: 22%;
  padding-bottom: 58px;
}

@media (max-width: 375px) {
  .page-productDisplay li {
    width: 47%;
    margin-bottom: 30px;
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination li {
  padding-left: 10px;
  padding-right: 10px;
}

.pagination li a {
  color: #000;
}

.pagination li a:hover {
  text-decoration: underline;
  color: #916000;
}

.img-w-255 img {
  width: 255px;
}

.p-pb-0 p {
  padding-bottom: 0;
}

@media (max-width: 375px) {
  .h2-sm-text h2 {
    font-size: 20px !important;
    line-height: 30px !important;
  }
}

.w-20 {
  width: 20px;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.primary-color {
  color: #916000;
}
/*# sourceMappingURL=all.css.map */