@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*底下是我新增ㄉ */
img {
  max-width: 100%;
  height: auto;
  /*據說auto可加可不加，但bootstrapt有還是加一下*/
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  color: #8D8D8D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu li {
  padding-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .menu_icon {
  height: 20px;
  padding-right: 4px;
}

.logoSize {
  width: 128px;
}

.mobile_only {
  display: none;
}

@media (max-width: 375px) {
  .mobile_only {
    display: block;
  }
}

.banner img {
  position: relative;
}

.banner .banner_text_area {
  position: absolute;
  top: 33%;
  left: 55%;
}

.banner_text_area {
  width: 445px;
}

.banner_h1_text {
  font-size: 40px;
  line-height: 60px;
  color: #FFF;
  font-weight: 600;
}

@media (max-width: 375px) {
  .banner_h1_text {
    font-size: 32px;
    line-height: 48px;
  }
}

.banner_p_text {
  font-size: 24px;
  line-height: 36px;
  color: #FFF;
}

@media (max-width: 375px) {
  .banner_p_text {
    font-size: 20px;
    line-height: 30px;
  }
}

.btn-white {
  font-size: 28px;
  line-height: 60px;
  border: solid 2px #fff;
  color: #fff;
  border-radius: 30px;
  text-align: center;
  font-weight: 600;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-l {
  font-size: 24px;
  line-height: 36px;
}

.text-m {
  font-size: 20px;
  line-height: 30px;
}

.m-tb-9 {
  margin-top: 9px;
  margin-bottom: 9px;
}

.mb-16 {
  margin-bottom: 16px;
}
/*# sourceMappingURL=all.css.map */