// *{
//   outline: 1px black solid;
// }
a{
  color:  $header_color;
  text-decoration: none;
}
.container{
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
//wh-255-255
.wh-255-255{
  width: 255px;
  height: 255px;
}
// header
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fuckyoubitch{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  li{
    a{
      padding-left: 32px;
      display: flex;
      p{
        padding-left: 4px;
      }
    }
  }
}
.relative-icon{
  position: relative;
}
.bh{
  display: none;
  
  @include mobile{
    display: block;
    position: absolute;
    font-size: 15px;
    width: 15px;
    height: 14px;
    top: -10px;
    right: -10px;
    background-color: red;
    border-radius: 100%;
    color: #fff;
    text-align: center;
  }
}
.bars{
  padding-left: 16px;
}
.logoSize{
  width: 128px;
}
.mobile_only{
  display: none;
  @include mobile{
    display: block;
  }
}

.menu-footer{
  color:#fff;
}
// banner
.banner{
  background: url(../perfume-week6/index1.jpg) no-repeat;
  height: 870px;
  background-position: center center;
  background-size: 100%;
  padding-top: 295px;
  @include mobile{
    background-size: 200%;
    height: 480px;
    background-position:left;
    padding-top: 101px;
  }
  .banner_text_area{
    position: absolute;
    right: 20%;
    @include mobile{
       right: 0;
       height: 480px;
    }
  }
}
.banner_text_area{
  max-width: 445px;
  padding: 15px;
}
// banner_text
.banner_h1_text{
  @include text(40px,60px);
  color: $banner_color;
  font-weight: 600;
  @include mobile{
    @include text(32px,48px);
  }
}
.banner_p_text{
  @include text(24px,36px);
  color: $banner_color;
  @include mobile{
    @include text(20px,30px);
  }
}
.btn-white{
	@include ovalButton(28px,60px,#fff);
  &:hover{
    background-color: $lighten_color;
    border:none;
  }
}
// main
.main{
  display: flex;
  flex-direction: column;
  ul{
    li{
      display: flex;
      flex-direction: row-reverse;
      @include mobile{
        flex-wrap: wrap;
      }
    }
  }
  .row-direction{
    flex-direction: row;
  }
}

// main_img
.main_img{
  width: 555px;
  @include mobile{
    width: 345px;
  }
}
// main_text
.productIntroduction_text{
  max-width: 350px;
  margin: auto;
  ul{
    li{
      flex-direction: column
    }
  }
  h2{
    @include text(32px,48px);
    font-weight: 600;
  }
  p{
    @include text(20px,30px);
    margin-bottom: 16px;
  }
  .more{
    @include text(16px,24px);
    color: $lighten_color;
    font-weight: 600;
  }
  .detail_text{
    @include text(16px,24px);
  }
}
.productIntroduction_text_step{
  h3{
    @include text(24px,36px);
    font-weight: 600;
    margin-bottom: 4px;
  }
  p{
    @include text(16px,24px);
    margin-bottom: 52px;
  }
  .btn-black{
    margin-top: 8px;
    @include ovalButton(20px,66px,#000);
    &:hover{
      background-color: #000;
      color: #fff;
    }
  }
}
//product display
.container-gray{
  background-color: $product_list_background-color;
}

 
  .productDisplay{
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    @include mobile{
      flex-wrap: wrap;
    }
    li{
        width: 380px;
        padding: 40px 15px;
        @include mobile{
        padding-top: 15px;
        padding-bottom: 15px;
        
      }
    }

  .product1{
    background-image: url(../perfume-week6/index6.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 540px;

  }
  .product2{
    background-image: url(../perfume-week6/index7.png);
    background-size: 350px 540px;
    height: 540px;
  }
}
.productCard_text{
  h2{
    @include text(24px,36px);
    font-weight: 600;
  }
  p{
    @include text(16px,24px);
    padding-bottom: 16px;
    @include mobile{
      padding-bottom: 4px;
    }
    .not-discount{
      padding-left: 8px;
      color: #8D8D8D;
      text-decoration: line-through;
    }
  }
}
.product3{
  max-width: 380px;
  //height: 540px;
  background-image: url(../perfume-week6/index8.png);
  background-size: 350px 540px;
  .soldOut-mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    p{
      @include text(24px,540px);
      color: #fff;
      font-weight: 600;
      text-align: center;
    }
  }
}
//classic product
.classicProduct_area{
  display: flex;
  justify-content: center;
  @include mobile{
    flex-wrap: wrap;
  }
  .classicProduct_img{
    margin-right: 30px;
    @include mobile{
      margin-right: 0px;
    }
  }
  .productIntroduction_text{
    margin: 82px 30px;
    @include mobile{
      margin: 8px 15px;
    }
  }
}
.classicProduct_img{
  width: 730px;
  height: 520px;
  background-image: url(../perfume-week6/index9.jpg);
  background-size: 730px;
  @include mobile{
    background-position: -100px;
  }
  
}
//subscribe
.promote-background{
  height: 600px;
  background-image: url(../perfume-week6/index10.png);
  background-position: center;
  padding-top: 300px;
  padding-left: 21%;
  @include mobile{
    margin-right: auto;
    margin-left: auto;
    background-position: -650px;
    background-size: 1920px 600px;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.subscribeArea{
  margin-left: 0;
  max-width: 350px;
  margin-right: auto;
  @include mobile{
    margin-left: auto;
  }
  
  h2{
    margin-bottom: 20px;
    @include text(32px,48px);
    color: $header_color;
    font-weight: 600;
  }
}
.subscribe{
  @include text(16px,60px);
  border: 2px solid $darken_color;
  margin-top: -1px;
  display: flex;
  justify-content: space-between;
  .subscribe_input{
    width: 100%;
    color: $header_color;
    padding-left: 16px;
    background-color: #fff;
  }
  .subscribe_btn{
    background-color: $darken_color;
    color: $banner_color;
    padding-left: 27px;
    padding-right: 26px;
    &:hover{
      background-color: $lighten_color;
    }
  }
}
//footer
.dark-background{
  background-color: $darken_color;
}
.footer{
  display: flex;
  justify-content: space-between;
}
.copyright_area{
  display: flex;
  align-items: center;
  p{
    margin-left: 20px;
    @include text(14px,21px);
    color: $banner_color;
  }
}
.menu-footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  li{
    padding-left: 32px;
    a{
      text-decoration: none;
      color: $banner_color;
      @include text(20px,30px);
    }
  }
}


.m-tb-9{
  margin-top: 9px;
  margin-bottom: 9px;
}
.mb-16{
  margin-bottom: 16px;
}
.mb-60{
  margin-bottom: 60px;
  @include mobile{
    margin-bottom: 40px;
  }
}
.mobile-none{
  @include mobile{
    display: none;
  }
}
.jc-fs{
  justify-content: flex-start;
}
.pr-28{
  padding-right: 28px !important;
}
.pt-b-14{
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}
.pl-0{
  padding-left: 0 !important;
}