.container{
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
// header
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  color: $header_color;
  display: flex;
  justify-content: flex-end;
  li{
    padding-left: 32px;
    display: flex;
  }
  .menu_icon{
    height: 20px;
    padding-right: 4px;
  }
}
.logoSize{
  width: 128px;
}
.mobile_only{
  display: none;
  @include mobile{
    display: block;
  }
}
// banner
.banner{
  img{
    position: relative;
  }
  .banner_text_area{
    position: absolute;
    top: 33%;
    left: 55%;
  }
}
.banner_text_area{
  width: 445px;
}
// banner_text
.banner_h1_text{
  @include text(40px,60px);
  color: $banner_color;
  font-weight: 600;
  @include mobile{
    @include text(32px,48px);
  }
}
.banner_p_text{
  @include text(24px,36px);
  color: $banner_color;
  @include mobile{
    @include text(20px,30px);
  }
}
.btn-white{
	@include ovalButton(28px,60px,#fff);
}
// main
.main{
  display: flex;
  flex-direction: column;
  ul{
    li{
      display: flex;
      flex-direction: row-reverse;
    }
  }
  .row-direction{
    flex-direction: row;
  }
}

// main_img
.main_img{
  width: 555px;
}
// main_text
.productIntroduction_text{
  max-width: 350px;
  margin: auto;
  ul{
    li{
      flex-direction: column
    }
  }
  h2{
    @include text(32px,48px);
    font-weight: 600;
  }
  p{
    @include text(20px,30px);
    margin-bottom: 16px;
  }
  .more{
    @include text(16px,24px);
    color: #AC8A46;
    font-weight: 600;
  }
  .detail_text{
    @include text(16px,24px);
  }
}
.productIntroduction_text_step{
  h3{
    @include text(24px,36px);
    font-weight: 600;
    margin-bottom: 4px;
  }
  p{
    @include text(16px,24px);
    margin-bottom: 52px;
  }
  .btn-black{
    margin-top: 8px;
    @include ovalButton(20px,66px,#000);
  }
}
//product display
.container-gray{
  background-color: $product_list_background-color;
}
.productDisplay{
  

  ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    li{
        padding: 40px 15px;
        @include mobile{
        padding-top: 15px;
        padding-bottom: 15px;
        
      }
    }
  }

}
.productCard{
  img{
    max-width: 350px;
  }
  h2{
    @include text(24px,36px);
    font-weight: 600;
  }
  p{
    @include text(16px,24px);
    padding-bottom: 16px;
    @include mobile{
      padding-bottom: 4px;
    }
    .not-discount{
      padding-left: 8px;
      color: #8D8D8D;
      text-decoration: line-through;
    }
  }
}
.soldOutProduct{
  max-width: 350px;
  height: 540px;
  background-image: url(../perfume-week6/index8.png);
  background-size: 350px;
  .black-mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    p{
      @include text(24px,540px);
      color: #fff;
      font-weight: 600;
      text-align: center;
    }
  }
}
//classic product
.classicProduct_area{
  display: flex;
  justify-content: center;
  .classicProduct_img{
    margin-right: 30px;
  }
  .productIntroduction_text{
    margin: 82px 30px;
  }
}
.classicProduct_img{
  width: 730px;
  height: 520px;
  background-image: url(../perfume-week6/index9.jpg);
  background-size: 730px;
}
// *{
//   outline: 1px #000 dashed;
// }
.m-tb-9{
  margin-top: 9px;
  margin-bottom: 9px;
}
.mb-16{
  margin-bottom: 16px;
}
.mb-60{
  margin-bottom: 60px;
}