/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 偶的程式碼從這開始 */
/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
   @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 將段落p及li字型、字體大小統一在body設定 */
body{
	font-family: 'Noto Sans', sans-serif;
	font-size: 24px;
	line-height: 36px;
}
.container{
	width: 1200px;	
	font-weight: bolder;
	/* 將margin改為一行 */
	margin: 0px auto 0px auto;
}
/* 將標籤選擇器(H2)改成類別選擇器name */
.name{
	font-size: 80px;
	line-height: 94px;
	font-family: 'Roboto', sans-serif;
	
	padding-top: 80px;
	padding-bottom: 50px;
	border-bottom: 2px solid #000000;
	margin-bottom: 32px;
}
/* 將img標籤改為標籤選擇器largePast */
.largePast{
	width: 324px;
	height: 324px;
}
.title{
	font-size: 32px;
	line-height: 43px;
	font-size: normal;

	border-bottom: 1px solid black;
	margin: 32px 0 32px 0;
}
.title span{
	color: #A00404;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	line-height: 28px;
}
p{
	margin-bottom: 24px;
	font-size: 20px;
	line-height: 30px;
}
/* 將.container2改成有語意的.container_FullVersion開始 */
.container_FullVersion{
	background-color: #415165;
	padding-top: 20px;
	padding-bottom: 20px;
}
/* 將標籤選擇器H3換成類別選擇器.titleInFullVersion */
.titleInFullVersion{
	color: white;
	font-size: 32px;
	text-align: center;
	line-height: 45px;
	width: 900px;

	border-bottom: white solid 1px;
	margin: 0 auto 32px auto;
}
.titleInFullVersion span{
	line-height: 28px;
	font-family: 'Roboto', sans-serif;
}
.skill_menu{
	text-align: left;

	width: 200px;
	padding-left: 20px;
	border-left: white 1px solid;
	/* 簡寫margin : 上右下左 */
	margin: 30px auto 30px auto;	
}
.skill_menu li{
	color: white;
	font-family: 'Roboto', sans-serif;
}


.work_experience_menu{
	width: 1100px;

	border-left: 1px solid #96A9C4;
	padding-left: 24px;
	margin: 0px auto 0px auto;
}
.work_experience_menu img{
	width: 90px;
	height: 90px;
	display: block;
}

/* 將聯絡方式以ul>li方式連接 */
.contactMethod{
	text-align: center;
}
.contactMethod li{
	display: inline;
}
.contactMethod img{
	padding-top: 20px;
	width: 48px;
	height: 48px;
}
/* 增加超連結互動性 */
.contactMethod img:hover{
	width: 58px;
	height: 58px;
}
.footer{
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
}
